# files for git to ignore #
###########################

# my log
log_drug_repo.log

# sdf files - often to big
*.sdf

# pickles
*.p

# pickles backupfolders
pickles_*/

# anything starting with 'test'
test*
